<div id="banner">
  <div class="banner_content">
    <h1>NeverNote</h1>
    <p>Your daily work!</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>
<div id="testimonial">
  <div class="wrapper">
    <p class="quote">"I keep all our important documents with NeverNote."</p>
    <p class="name">- Jesus Christ</p>
  </div>
</div>
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Journal</h2>
        <p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
      </div>
      <div class="callout">
        <h2>Notes</h2>
        <p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
      </div>
    </div>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
    <h2>Store All Your Notes with NEVERNOTE</h2>
    <br/>
    <p>Be Original, Join the Top Drawer!</p>
    <button>
      <%= link_to "Start Here!", new_user_registration_path %>
    </button>
  </div>
</div>
