// DOCS INDEX
.wrapper_with_padding {
	max-width: 50%;
}
	#docs {
 .doc {
	 background: white;
	 min-height: 100px;
	 margin: 1rem 2em;
	 padding: 1.5rem 2.5%;
	 border-radius: 2.9rem;
	 text-align: center;
	 border: 5px solid #5cb85c;
	 .title {
		 color: #d9534f;
		 margin: 0 auto;
		 font-size: 1.5em;
		 letter-spacing: 1px;
		 width: 90%;
	 }
	 .data {
		 position: relative;
		 bottom: .25rem;
		 color: #d9534f;
		 font-weight: lighter;
		 font-size: .75rem;
		 text-align: center;
	 }
	 .content {
		 position: relative;
		 color: $light_gray;
		 font-weight: bold;
		 font-size: .75rem;
		 text-align: center;
	 }
  }
 }

// DOCS SHOW

#doc_show {
 .title {
	 @include bold_font;
	 color: #78594B;
	 font-size: 2.0rem;
	 margin-bottom: 1.25rem;
	 padding-bottom: 1rem;
	 border-bottom: 1.0px solid rgba(82,158,204, 0.2);
	 text-align: center;

 }
 p {
	 font-size: 1.0rem;
	 line-height: 1.75;
 }
 .buttons {
	 margin-top: 3rem;
	 text-align: center;
	 a.button {
		 padding: .2rem 1.5rem;
		 border-radius: 0.1rem;
		 text-decoration: none;
		 color: #529ECC;
		 border: 5px solid #529ECC;
		 @include bold_font;
		 background: transparent;
	 }
 }
}

// DOCS NEW
h1 {
	color: #C0C1C1;
	text-align: center;
}
div.input.string.optional.doc_title, div.input.text.optional.doc_content {
	width: 30%;
	margin: 0 auto;
}
form{
	text-align: center;
	margin: 0 auto;
}



@media screen and (max-width: 768px) {
// Docs index
.wrapper_with_padding {
	max-width: 90%;
	}
	#docs {
 .doc {
	 min-height: 50px;
	 background: white;
	 margin: 1rem 2em;
	 padding: .5rem 1.5rem;
	 border-radius: 2.9rem;
	 text-align: center;
	 border: 3px solid #5cb85c;
	 .title {
		 color: #d9534f;
		 font-size: 1em;
		 width: 100%;
	 }
	 .title, .data, .content {
		 margin: 5px auto;
	 }
  }
 }
}
