.container {
	margin-top: 2em;
}
// DOCS INDEX
div.section-one {
	max-height: 695px;
	overflow-y: scroll;
	width: 40%;
	margin-left: 2em;
}
.wrapper_with_padding {
	max-width: 70%;
	float: left;
	h1 {
		font-size: 1.5em;
	}
}
ul li {
	display: inline;
	margin: 0 5px;
}
	#docs {
 .doc {
	 background: white;
	 margin: 1rem 2em;
	 text-align: left;
	 padding-top: .5em;
	 .title {
		 color: #d9534f;
		 margin: 0 auto;
		 font-size: 1em;
		 letter-spacing: 1px;
		 width: 90%;
	 }
	 .data {
		 bottom: .25rem;
		 color: #d9534f;
		 font-weight: lighter;
		 font-size: .5rem;
		 text-align: center;
	 }
	 .content {
		 color: $light_gray;
		 font-weight: bold;
		 font-size: .5rem;
		 text-align: center;
		 display: block!important;
		 margin: 2px;
	 }
  }
 }
 a:-webkit-any-link {
	 text-decoration: none;
 }
 // DOCS INDEX_PARTIAL

 .section-two.two {
 	display: inline-block;
 	margin-top: 30px;
 	float: left;
 	margin-right: 4em;
 	height: 640px;
 	background-color: #d9534f;
	border-radius: 10px;
	h1, h2, button, p, small {
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 60%;
		margin: 40px auto;
		padding: 20px;
		text-align: center;
		font-weight: lighter;
	}
 }
 div.section-two {
	 display: none;
	 margin-top: 30px;
	 width: 900px;
	 float: right;
	 margin-right: 4em;
	 height: 640px;
   margin-right: 4em;
 	h1 {
 		color: #5cb85c;
 		font-weight: 400;
 	}
 }

 div#calendar button {
 	margin: 0 auto;
 	}
 table, div.calendar-heading {
 	text-align: center;
 	margin: 0 auto;
 }

// DOCS SHOW
#header {
	border-bottom: 1.0px solid rgba(82,158,204, 0.2);
}
 h1 {
	 @include bold_font;
	 color: #78594B;
	 font-size: 2.0rem;
	 margin-bottom: 1.25rem;
	 padding-bottom: 1rem;
	 text-align: center;
	 text-transform: none;
 }
 #sticky {
	 position: -webkit-sticky;
	 position: sticky;
	 top: 0;
	 padding: 30px 10px 0 10px;
	 background-color: white;
	 h1 {
		 background-color: white;
		 font-size: 2em;
		 font-weight: 400;
		 color: #5cb85c;
		 margin: -30px auto 0 auto;
		 padding: 20px;

	 }
 }
 .container {
	 display: flex;
	 justify-content: space-between;
 }
 div.input.text.optional.doc_content.field_without_errors {
	 width: 100%;
	 margin: 0 auto;
 }
  #content {
	 height: 500px;
	 overflow-y: scroll;
	 font-size: 1em;
	 color: #78594B;
	 text-align: left;
	 padding: 10px;
	 width: 30%;
	 float: left;
	 border-right: 2px solid $light_gray;
	 border-radius: 10px;
	 margin: 0 0 0 auto;
 }
 #live-content  {
	 width: 30%;
	 float: right;
	 margin: 0 auto;
	 textarea {
		 min-height: 410px;
	 }
 }
 #buttons {
	 text-align: center;
 }
 #buttons a {
	 color: #78594B;
	 font-size: 1rem;
	 margin-bottom: 1.25rem;
	 padding-bottom: 1rem;
	 text-align: center;
	 text-decoration: none;
 }
 #show-sidebar {
	 width: 20%;
	 min-height: 100%;
	 border-left: 2px solid $light_gray;
	 border-radius: 10px;
	 float: right;
	 #show-titles {
		 text-align: center;
	 }
	 #show-titles a {
		 @include bold_font;
		 color: $light_gray;
		 font-size: 1em;
		 margin-bottom: 1.25rem;
		 padding-bottom: 1rem;
		 text-align: center;
		 text-decoration: none;
	 }
	  #show-titles a:hover {

		}
	 #sidebar h1 {
		 font-size: 1.5em;
	 }
 }




// DOCS NEW
h1 {
	color: #C0C1C1;
	text-align: center;
}
div.input.string.optional.doc_title, div.input.text.optional.doc_content {
	width: 30%;
	margin: 0 auto;
}
form{
	text-align: center;
	margin: 0 auto;
}



@media screen and (max-width: 768px) {
// Docs index
.wrapper_with_padding {
	max-width: 90%;
	}
	#docs {
 .doc {
	 min-height: 50px;
	 background: white;
	 margin: 1rem 2em;
	 padding: .5rem 1.5rem;
	 border-radius: 2.9rem;
	 text-align: center;
	 border: 3px solid #5cb85c;
	 .title {
		 color: #d9534f;
		 font-size: 1em;
		 width: 100%;
	 }
	 .title, .data, .content {
		 margin: 5px auto;
	 }
  }
 }
}
