.float-right {
	float: right;
}
body {
	//background-image: url("/assets/bg-docs.jpg");
	//background-repeat: no-repeat;
	//background-size: cover;
	background-color: #F3E9DC!important;
	//background-color: #E1FAF9!important;
	//background-color: #F0F7EE!important;
}
div.container {
	margin-top: 6em;
}
// DOCS INDEX
.meetings {
	display: none;
	width: 100%;
	max-height: 1000px;
	overflow-y: scroll;
	display: none;
ul {
	min-height: 2em;
	background-color: #d9534f;
	margin: 1rem 2em;
	text-align: left;
	padding: .5em;
	border-radius: 10px;
	min-width: 60%!important;
	color: white;
	#m-name {
		font-size: 1.2em;
	}
	#m-time {
		font-size: .8em;
		float: right;
		margin-top: .35em;
		font-weight: lighter;
	}
}
ul:hover {
	background-color: #555;

}
button {
	display: none;
	}
}
div.section-one {
	border: 2px solid $light_gray;
	border-radius: 10px;
	max-height: 1000px;
	overflow-y: scroll;
	width: 30%;
	margin-left: 4em;
}

ul li {
	display: inline;
	margin: 0 5px;
}
	#docs {
 .doc {
	 min-height: 2em;
	 background-color: #d9534f;
	 text-align: left;
	 padding: .5em;
	 border-radius: 10px;
	 font-size: 1.5em;
	 color: white;
	 font-weight: 400;
	 padding: 10px;
	 margin: 1em auto!important;
	 .title {
		 color: white;
		 margin: 0 auto;
		 font-size: 1em;
		 letter-spacing: 1px;
	 }
	 .data {
		 margin-top: .4em;
		 color: white;
		 font-weight: lighter;
		 font-size: .7rem;
		 text-align: center;
	 }
	 .content {
		 color: $light_gray;
		 font-weight: bold;
		 font-size: .5rem;
		 text-align: center;
		 display: block!important;
		 margin: 2px;
	 }
  }
	.doc:hover {
		background-color: #555;
	}
 }
 a:-webkit-any-link {
	 text-decoration: none;
	 color: white;
 }
 // DOCS INDEX_PARTIAL

 .section-two.two {
 	display: inline-block;
 	float: left;
 	margin-right: 4em;
 	height: 640px;
 	background-color: #d9534f;
	border-radius: 10px;
	h1, h2, p, small {
		color: white;
		border-bottom: 2px solid white;
		width: 60%;
		margin: 40px auto;
		padding: 20px;
		text-align: center;
		font-weight: lighter;
		button {
			border: 2px solid white;
			margin: 40px auto;
			width: 60%;
			border-radius: 10px;
			font-weight: lighter;
		}
	}
	button {

	}
 }
 div.section-two {
	 display: none;
	 width: 900px;
	 float: right;
	 margin-right: 4em;
	 height: 650px;
   margin-right: 4em;
	 border-radius: 10px;
	 .calendar-heading {
		 padding: 20px 0 20px 0;
		 color: white;
		 a {
			 margin: 0 60px 0 60px;
			 padding: 10px;
		 }
		 a:hover {
			 background-color: #555;
			 border-radius: 10px;
		 }
		 span {
			 font-size: 1.2em;
		 }
	 }
	 .simple-calendar {
		 background-color: #d9534f;
		 td, th {
			 border-color: white;
			 color: white;
		 }
		 .today {
			 background-color: white;
			 color: black;
		 }
		 .prev-month, .next-month {
			 background-color: #FFCAAB;
			 color: #d9534f;
			 font-weight: bold;
		 }
		 .day:hover, .prev-month:hover, .next-month:hover{
			 background-color: $light_gray;
		 }
	 }
 	h1 {
		color: white;
 		font-weight: 400;
 	}
 }


 div#calendar button {

 	}
 table, div.calendar-heading {
 	text-align: center;
 	margin: 0 auto;
 }

// DOCS SHOW
#header {
	border-bottom: 1.0px solid rgba(82,158,204, 0.2);
}
 h1 {
	 @include bold_font;
	 color: #78594B;
	 font-size: 2.0rem;
	 margin-bottom: 1.25rem;
	 padding-bottom: 1rem;
	 text-align: center;
	 text-transform: none;
 }
 #sticky {
	 position: -webkit-sticky;
	 position: sticky;
	 top: 0;
	 background-color: transparent;
	 h1 {
		 background-color: $light_gray;
		 font-weight: 400;
		 color: white;
		 width: 100%;
		 font-size: 1.5em;
 		 padding: 10px;
 		 margin: 0 auto!important;
 		 background-color: darkgrey!important;

	 }
 }
 .container {
	 display: flex;
	 justify-content: space-between;
 }
 div.input.text.optional.doc_content.field_without_errors {
	 width: 100%;
	 margin: 0 auto;
 }
  #content {
	 height: 500px;
	 overflow-y: scroll;
	 font-size: 1em;
	 color: #78594B;
	 text-align: left;
	 padding: 10px;
	 width: 30%;
	 float: left;
	 border-right: 2px solid $light_gray;
	 border-radius: 10px;
	 margin: 0 0 0 auto;

 }
 #live-content  {
	 width: 30%;
	 float: right;
	 margin: 0 auto;
	 textarea {
		 min-height: 410px;
	 }
 }
 #buttons {
	 text-align: center;
 }
 #buttons a {
	 color: #78594B;
	 font-size: 1rem;
	 margin-bottom: 1.25rem;
	 padding-bottom: 1rem;
	 text-align: center;
	 text-decoration: none;
 }
 #show-sidebar {
	 width: 20%;
	 min-height: 100%;
	 border-left: 2px solid $light_gray;
	 border-radius: 10px;
	 float: right;
	 #show-titles {
		 text-align: center;
	 }
	 #show-titles a {
		 @include bold_font;
		 color: $light_gray;
		 font-size: 1em;
		 margin-bottom: 1.25rem;
		 padding-bottom: 1rem;
		 text-align: center;
		 text-decoration: none;
	 }
	  #show-titles a:hover {

		}
	 #sidebar h1 {
		 font-size: 1.5em;
	 }
 }




// DOCS NEW
h1 {
	color: #C0C1C1;
	text-align: center;
}
div.input.string.optional.doc_title, div.input.text.optional.doc_content {
	width: 30%;
	margin: 0 auto;
}
form{
	text-align: center;
	margin: 0 auto;
}

// DOCS/MEETINGS
.meetings {
	display: block;
	h1 {
		font-size: 1.5em;
		color: white;
		font-weight: 400;
		margin: 0;
		padding: 10px;
		margin: 0 auto!important;
		background-color: darkgrey!important;
	}
	ul {
		min-height: 3em;
		li {
			font-size: 1em!important;
		}
		li#m-time {
			font-size: .7em!important;
		}
	}
	button {
		display: block;
		padding: 15px;
		border-radius: 10px;
		margin: 0 auto;
	}
}
// DOCS/SHOW
div.container {
	margin-bottom: 6em;
}
div#content {
	display: none;
}
div#show-sidebar {
	display: none;
}
div#header h1 {
	color: $dark_gray;
	font-weight: 400;
}
#live-content {
	width: 90%;
	min-height: 200px;
	textarea {
		min-height: 250px;
	}
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
	.meetings h1, #wrapper_w_padding h1 {
		width: 98%;
		background-color: darkgrey!important;
		border-radius: 0!important;
	}
	.meetings h1 {
		margin-top: 3em!important;
	}
	.meetings ul, #docs .doc {
		width: 85%;
		margin: 1em auto;
	}
	.meetings ul:hover, .doc:hover {
		background-color: $light_gray!important;
	}
	div.input.string.optional.doc_title, div.input.text.optional.doc_content {
		width: 80%;
	}
}
@media screen and (max-width: 1000px) {
////// DOCS INDEX

// DOCS/NOTES
div.container {
	margin: 0;
}
div.section-one {
	width: 100%;
	margin: 0 auto;
	border: none;
	div#sticky h1 {
		background-color: #2C302E;
		border-radius: 10px;
		font-size: 1.5em;
	}
}
#docs .doc {
	max-height: 3em;
}
div#toHide.section-two.two{
	display: none;
	}
}
@media screen and (min-width: 1001px) {
	.meetings h1, #wrapper_w_padding h1 {

	}
	.meetings ul, #docs .doc {
		width: 85%;
		margin: 1em auto;
	}
	.meetings ul:hover, .doc:hover {
		background-color: $light_gray!important;
	}
	div#section-two.section-two {
		width: 100%;
	}
	div#toHide.section-two.two {
		height: 700px;
	}
	div#toHide {
		width: 100%;
		float: right;
	}
	div.two {
		width: 50%;
	}
	div#calendar{
		float: right;
		width: 100%;
	}
	div.section-one {
		width: 30%;
		height: 700px;
	}

	div#content {
		display: inline-block;
		width: 30%;
	}
	div#show-sidebar {
		display: block;
		width: 30%;
	}
	#live-content {
		width: 40%;
	}
input[type="text"] {
		width: 40%;
	}
form#new_doc.simple_form.new_doc {
	width: 100%!important;
}
div.input.string.optional.doc_title, div.input.text.optional.doc_content {
	width: 60%;
}

}
